/* Palette Colors */
:root {
    --color-primary: #DC1F84; /* Pink */
    --color-secondary: #6D2476; /* Purple */
    --color-background-dark: #1D161E; /* Dark Background */
    --color-background-darker: #000046; /* Darker Background */
    --color-highlight: #1CB5E0; /* Cyan/Blue */
    --color-light: #D8D8F6; /* Light Lavender */
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background: linear-gradient(to bottom, #1D161E, #000046);
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-switch button {
    background-color: transparent;
    border: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #1D161E;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content img {
    margin-right: 6px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.flag {
    width: 30px;
    height: 21px;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Each section takes full viewport height */
    padding: 20px;
    text-align: center;
}

.hero {
    padding: 50px 20px;
    background: linear-gradient(to bottom, #000046, #1CB5E0);
    color: white;
}

.hero-text {
    max-width: 500px;
}

.cta-btn {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.cta-btn:hover {
    background-color: #E85CA7;
}

.hero-image img {
    max-width: 100%;
}